.cta__headline {
    margin-bottom: 3rem;

    color: var(--purple);
    font-weight: 700;
    font-size: 2.7rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

/* RESPONSIVE */
/* Phone Only */
@media (max-width: 599px) {
    .cta__headline {
        width: 85vw;

        font-size: 2rem;
        text-align: center;
    }
}